@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Lato", sans-serif;
  }
}

body {
  background-color: var(--primary);
  /* color: #000; */
}
.dark {
  --primary: #000;
  --primary2: rgb(7, 7, 10);
  --secondary: rgb(24, 24, 27);
  --bordar: rgba(63, 63, 70, 0.4);
  --title: rgb(244, 244, 245);
  --subtitle: rgb(161, 161, 170);
  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);
  --icon-hover: #d4d4d8;
  --icon-hover2: #eaeaee;
  --search: rgba(120, 117, 114, 0.01);
  --search-hover: rgba(155, 154, 153, 0.1);
  --img-details: rgba(128, 128, 128, 0.05);
  --details: rgba(58, 63, 62, 0.5);
}

.light {
  --primary: rgb(250, 250, 250);
  --primary2: rgb(250, 250, 250);
  --secondary: rgb(255, 255, 255);
  --border: rgba(202, 202, 202, 0.518);

  --title: rgb(39 39 42);
  --subtitle: rgb(82 82 91);

  --bgHeader: rgb(253, 253, 253);
  --blue: rgb(0, 149, 246);

  --icon-hover: #333;
  --icon-hover2: #706f6f;
  --search: rgba(135, 138, 141, 0.01);
  --search-hover: rgba(100, 101, 102, 0.1);

  --img-details: rgba(128, 128, 128, 0.05);
  --details: rgb(233, 233, 233);
}

.home {
  background-color: var(--primary);
}
.home2 {
  background-color: var(--primary2);
}
.sidebar {
  background-color: var(--bordar);
}
.secondary {
  background-color: var(--border);
}
.light-black {
  /* background-color: var(--img-details); */
  background: transparent;
}
.delete-btn {
  background-color: #fff;
  color: #000;
}
.light-white {
  background-color: var(--details);
}
.profile {
  background-color: var(--border);
  /* padding: 10px; */
  margin-bottom: 2px;
}

.icon {
  color: var(--icon-hover);
}
.light-checked {
  background-color: var(--bordar);
  color: var(--title);
}
.dark-checked {
  background-color: #d4d4d8;
  color: var(--title);
}
.text-unchecked {
  color: var(--subtitle);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sideBar {
  border-right: 0.25px dashed rgb(240, 215, 215);
  background-color: var(--primary);
}
.border {
  border: 5px solid red;
}
.isNotActive:hover,
.isActive {
  color: var(--title);
}
.isActive {
  background-color: var(--icon-hover);
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 10px;
  color: var(--bgHeader);
  font-weight: 700;
}
.isNotActive:hover,
.isActive:hover {
  background-color: var(--icon-hover2, 0.9);
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 10px;
  color: var(--bgHeader);
  font-weight: 700;
}
#exp:hover > #inp {
  transform: scale(1.01);
  background-color: var(--search);
  border-radius: 10px 10px 10px 10px;
  border: none !important;
  outline: none !important;
  margin: 5px;
  z-index: 1000;
  color: var(--title);
}

#exp:hover {
  transform: scale(1.01);
  background-color: var(--search-hover);
  border-radius: 15px 15px 15px 15px;
}
.addIcon {
  color: var(--primary);
  background-color: var(--title);
  opacity: 1 !important;
  border-radius: 13px 13px 13px 13px;
}
.activeBtn {
  color: var(--primary);
}
.activeBtn:hover {
  transform: scale(1.05);
}
.notActiveBtn {
  color: var(--title);
}
.notActiveBtn:hover {
  background-color: #f56565;
  /* color: var(--primary); */
  transform: scale(1.05);
}

/* scroll-bar */

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;

  background-color: #d4d4d8;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--subtitle);
}

/* for Firefox */
html {
  scrollbar-color: #3d4a59;
  scroll-behavior: smooth;
}
